@font-face {
  font-family: "Eras Bold ITC";
  src: url("../fonts/ErasITC-Bold.eot");
  src: url("../fonts/ErasITC-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ErasITC-Bold.woff2") format("woff2"),
    url("../fonts/ErasITC-Bold.woff") format("woff"),
    url("../fonts/ErasITC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Eras Bold ITC", sans-serif;
}

/* header styles */
.container {
  max-width: 1180px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #2a596a;
}
.nav-ul {
  display: flex;
  max-width: 813px;
  width: 100%;
  justify-content: space-between;
  gap: 51px;
  text-transform: uppercase;
  font-size: 20px;
  color: #2a596a;
}
.navbar {
  max-width: 1074px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 124px;
  margin: 0 auto;
}
li {
  cursor: pointer;
}
header a {
  color: #2a596a;
  transition: color 0.4s ease 0s;
}

header a:hover {
  color: rgba(91, 53, 116, 0.688);
}
/* main styles */

section img {
    width: 50%;
}
.main-text-block {
    width: 50%;
    background-color: #5F19A0;
}
.hero-section {
    display: flex;
    width: 100%;
    height: 461px;
}